<div class="container">
<div class="d-flex align-items-center justify-content-center ">
    <h1>Welcome to classes <%= current_user.name %></h1>
</div>

<h3> You belong to :
<%= current_user.company.name %> company
</h3>

<% if @courses.present? && @courses.size < 2 %>
<h3> Your course is <%= @courses.first.name %></h3>
<% elsif @courses.present? && @courses.size > 1 %>
<h3> Your courses are</h3>
<ul>
    <% @courses.map do |course| %>
    <li><%= course.name %></li>
    <% end %>
</ul>
<% end %>

<h3> Your level is <h3> 


<div class="col" class=" sign-section">
      <%= image_tag("website.png", size: '800x700') %>
</div>


</div>