<%= form_with(model: course) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row mt-2">
   <div class="col">
      <%= form.label :name %>
    <%= form.select :name_id, Course.all.collect  {|k| [k.name, k.id]}, {} ,id: :company_name_id, include_blank:false, :class => "form-control" %> %>
  </div>

  <div class="col">
    <%= form.submit 'Submit', class: 'btn btn-outline-warning' %>
  </div>
  </div>
<% end %>
